.global-counter {
    font-family: 'Press Start 2P', cursive;
    background: #111;
    padding: 20px;
    border: 4px solid var(--win-gray);
    box-shadow: inset 0 0 20px var(--hot-pink);
    color: var(--hot-pink);
    font-size: 48px;
    margin-bottom: 30px;
    text-shadow: 0 0 10px var(--hot-pink);
    letter-spacing: 4px;
}